@import url("https://fonts.googleapis.com/css?family=Fira+Sans:weight@400;700&display=swap");

$font: "Fira Sans", sans-serif;
$primary-color: #3e6f9e;
$padding: 50px;

body {
  font-family: $font;
  color: $primary-color;
  padding: $padding;
}